<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
</head>
<body>
<h1>Список автомобилей</h1>

<table th:if="${cars != null}">
    <thead>
    <tr>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.year}">Year</td>
    </tr>
    </tbody>
</table>
</body>
</html>